@media (max-width: 767px) {

    .container {
        padding: 0 16px;
    }
    
    .header {
        min-height: 40px;
    }
    
    .header__logo {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    
    .header__btn {    
        font-size: 10px;
    }
    
    .header__pizza {
        width: 10px;
        height: 12px;
        margin: 0 5px 0 0;
    }
    
    .header__textlogo {
        text-transform: uppercase;
    }
    
    .header__menu {
        display: none;
    }

    .header__burger {
        width: 24px;
        height: 24px;
        display: inline-block;
        cursor: pointer;
        border: solid 0 #fff;
        background: url("../img/menu-burger.png") center center/cover no-repeat;
    }
    
    .promo {
        min-height: 189px;
        background: url("../img/promo/image\ 17@3x.jpg") center center/cover no-repeat;
        padding: 29px 0;
    }
    
    .promo__title {
        font-size: 28px;
    }
    
    .promo__subtitle {
        margin-top: 16px;
        font-size: 16px;
    }
    
    .promo__btn {
        min-height: 40px;
        margin: 18px auto 0;
        padding: 8px 40px;
        font-size: 16px;
    }
    
    .portfolio {
        padding-top: 24px;
    }
    
    .portfolio__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .portfolio__maintitle {
        font-size: 24px;
    }
    
    .portfolio__secondarytitle {
        font-size: 16px;
    }
    
    .portfolio__blocks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4px;
    }
    
    .portfolio__block {
        width: 100%;
        margin-top: 12px;
        min-height: 260px;
    }
    
    .portfolio__editorial {
        background: url("../img/editorial/Rectangle\ 63@3x.jpg") center center/cover no-repeat;
    }
    
    .portfolio__serving {
        background: url("../img/serving/Rectangle\ 63@3x.jpg") center center/cover no-repeat;
    }
    
    .portfolio__baking {
        background: url("../img/baking/Rectangle\ 63@3x.jpg") center center/cover no-repeat;
    }
    
    .portfolio__subtitle {
        display: block;
        margin: 91px auto 0;
        font-size: 18px;
    }
    
    .portfolio__btn {
        min-height: 38px;
        margin: 12px auto 0;
        padding: 5px 11px;
        font-size: 14px;
    }
    
    .aboutme {
        margin-top: 32px;
    }

    .aboutme__container {
        padding: 0;
    }
    
    .aboutme__title {
        font-size: 24px;
    }
    
    .aboutme__block {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
    }
    
    .aboutme__pfoto {
        width: 100%;
        height: 434px;
        background: url("../img/aboutme/Rectangle\ 65@3x.jpg") center center/cover no-repeat;
    }
    
    .aboutme__textblock {
        width: 100%;
        padding: 24px 20px;
    }
    
    .aboutme__subtitle {
        font-size: 18px;
    }
    
    .aboutme__text {
        margin: 8px;
        font-size: 12px;
        line-height: 1.6;
    }
    
    .aboutme__subsubtitle {
        margin-top: 16px;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .skills {
        margin-top: 32px;
    }
    
    .skills__title {
        font-size: 24px;
    }
    
    .skills__blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }
    
    .skills__block {
        min-height: 202px;
        width: 100%;
        padding: 24px 0px;
    }
    
    .skills__img {
        height: 160px;
        width: 160px;
        display: block;
        margin: 0 auto;
    }
    
    .skills__backgroundwite {
        background: url("../img/background/Rectangle\ 66@3x.jpg") center center/cover no-repeat;
    }
    
    .skills__compositional {
        background: url("../img/compositional/Rectangle\ 66@3x.jpg") center center/cover no-repeat;
    }
    
    .skills__patterns {
        background: url("../img/patterns/Rectangle\ 66@3x.jpg") center center/cover no-repeat;
    }
    
    .skills__levitation {
        background: url("../img/levitation/Rectangle\ 66@3x.jpg") center center/cover no-repeat;
    }
    
    .skills__subtitle {
        margin-top: 16px;
        font-size: 16px;
    }

    .contacts__container {
        padding: 0;
    }

    .contacts__block {
        margin-top: 24px;
        padding: 24px 10px;
    }
    
    .contacts__title {
        font-size: 24px;
    }
    
    .contacts__subtitle {
        margin-top: 10px;
        font-size: 18px;
    }
    
    .contacts__number {
        font-size: 20px;
    }
    
    .contacts__link {
        display: block;
        margin-top: 8px;
        font-size: 24px;
    }
    
    .footer {
        margin-top: 24px;
        padding: 13px 10px;
    }
    
    .footer__logo {
        margin: 13px 12px 0;
        cursor: pointer;
    }
    
    .footer__title {
        margin: 8px 0 0;
        font-size: 14px;
    }
}
